[submodule "ansible/roles/prometheus"]
	path = ansible/roles/prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus/tree/4.0.0
[submodule "ansible/roles/prometheus/"]
	branch = 4.0.0
	url = https://github.com/cloudalchemy/ansible-prometheus/tree/4.0.0
